*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 1px solid;
  min-height: 34px;
}

.button:focus {
  outline: 1px solid;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  margin: auto;
  width: 1140px;
}

.content__details {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
  margin-bottom: 24px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: scroll;
}

.content__list-item + .content__list-item {
  margin-top: 26px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
  outline: none;
  border: 1px solid transparent;
}

.content__card-link:focus-visible {
  border-color: currentColor;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
}

.content__card-link_current {
  border-color: #545050;
}

.content__card-link_current .content__video-card,
.content__card-link:active .content__video-card {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: start;
  padding: 1px;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-title + content__video-card-title {
  margin-top: 6px;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.search-form {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  padding-bottom: 4px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox-list .search-form__label {
  cursor: pointer;
}

.search-form__checkbox-list .search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  width: fit-content;
}

.search-form__label-text {
  height: 19px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__textfield {
  appearance: none;
  border: none;
  background-color: transparent;
  width: 225px;
  height: 27px;
  color: #fff;
  border-top: 1px solid;
  border-bottom: 1px solid;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0;
}

.search-form__textfield {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255, 255, 255 / .7);
}

.search-form__checkbox {
  margin: 0;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid black;
  background-color: #fff;
  box-sizing: border-box;
}

.search-form__submit-button {
  min-width: 194px;
  align-self: flex-end;
}

li:has(.more-button) {
  padding: 2px;
}

.more-button {
  width: 100%;
}